// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-black: #4A4A4A;
$light-yellow: #f2d479;
$plum-purple: #531f37;
$light-purple: #D9B18F;
