// Specific CSS for your home-page
.background_image {
  margin-left:auto;
  margin-right:auto;
  background-image: url("Italy.png");
  height: 100vh;
  background-size: cover;

}


// h4  {
//   text-align: center;
//   color: black;
//   font-family: "Karla", "Work Sans", "Helvetica";
//   font-size: 1em;
// }

.trip-form {
  background: #ddc16e57;
  border-radius: 20px;
  border-left: 1px solid #ddc16e57;
  border-top: 1px solid #ddc16e57;
  // backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;

  position: absolute;
  bottom:4rem;

  width: 23rem;

  position: sticky;
  place-items: center;

  .form-flex {
    display: flex;
    align-items: center;

  }
  // label {
  //     font-weight: 500;
  //     color: $plum-purple;
  //     font-size: 1.4rem;
  //     margin-top: 0;
  //     margin-bottom: 60px;
  //     text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  //   }

  // input {
  //     background: transparent;
  //     width: 200px;
  //     padding: 1em;
  //     margin-bottom: 2em;
  //     border: none;
  //     border-left: 1px solid $white;
  //     border-top: 1px solid $white;
  //     border-radius: 5000px;
  //     backdrop-filter: blur(5px);
  //     box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  //     color: $plum-purple;
  //     font-family: Montserrat, sans-serif;
  //     font-weight: 500;
  //     transition: all 0.2s ease-in-out;
  //     text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  // }


  .drop {
    background: $white;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    transition: all 0.2s ease;
  }
}

.container {
  place-items: center;
}
