// Specific CSS for your home-page
.background_image {
  color:white;
  margin-left: revert;
  margin-right: auto;
  margin-bottom: initial;
  background-image: url("Italy.png");
  height: 100vh;
  background-size: cover;
 h1 {
   text-align: center;
   color: black;
   font-size: 4em;
   font-family: "Irish Grover", system-ui;
   font-weight: 400px;
  //  font-style: normal;
  }
  p {
  text-align: center;
  color: black;
  font-family: "Irish Grover", system-ui;
  font-size: 2em;
  font-weight: 100px;
  // font-style: normal;
  }
}
