.icon-heading-container {
  font-size: medium;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  align-items: center;
  #icon {
    font-size: 4rem;
  }
}
.trix-button {
  background-color: white !important;
}
.trix-content {
  background-color: white !important;
  height: 40vh;
  color: #531f37;
}
// .banner {
//   width:0;
//   // position: center;
//   margin-bottom: 4rem;
//   padding: 0;
//   min-height: 50vh;
//   display: inline;
//   justify-content: space-between;
// }

.trip-journal-card {
  .trix-content {
    background-color: white !important;
    max-height: 7vh !important;
    color: #531f37;
    overflow: hidden;
  }
}
