<h1>Adventurer Journal</h1>
<div class="animated-bg">
<%= image_tag('suitcase2.png', class:'suitcase') %>
<!--<img src="images/suitcase2.png" class="suitcase"/>-->
</div>
  <div class="journal-container">
    <% @journals.each do |journal| %>
    <div class="journal-card">
      <%= link_to journal.title, journal_path(journal) %>
    </div>
    <% end %>
  </div>
