// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");



body {
  background-color: $light-yellow ;
  p {
    font-family: "Karla", sans-serif;
    color: black;
    font-size: 1em;
    text-align: right;
    margin-bottom: -10%;
    text-decoration: inline;
    justify-content: space-around;
  }

.icon {
    width: 50px;
    height: 50px;
    justify-content: space-around;
    margin-right: 70%;
    margin-bottom: 60%;
  }

  h1 {
    text-align: center;
    color: #531f37;
    font-size: 3em;
    font-family: "Irish Grover", system-ui;
    font-weight: 300px;
    padding: 2rem;
    // font-style: normal;
    }
  h2 {
    text-align: center;
    color: #531f37;
    font-family: "Irish Grover", system-ui;
    font-size: 3em;
    font-weight: 300px;
    //  font-style: normal;
  }

  h4 {
    text-align: center;
    color: black;
    font-family: "Karla", "Work Sans", "Helvetica";
    font-size: 2em;
    font-weight: 100px;
  }
}

a{
  text-decoration: none;
}
